/* your styles go here */

#index h2 {
  text-align: center;
}

#index .small-navbar {
  padding: 0 2rem;
}

#index .welcome {
  background-image: url(https://juliettelat.github.io/images/banner.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 4rem 2rem;
  margin-bottom: 4rem;
  color: #f4f4f4;
  padding: 2rem 0;
  font-size: 2rem;
}

#index .welcome p {
  padding: 0 2rem; 
}

@media (min-width: 755px) {
  #sidebar {
    position: fixed;
    top: 0;
  }

  content {
    margin-left: 33.33333%;
  }


  #index .welcome {
    padding-top: 12rem;
  }
}

@media (min-width: 975px) {
  content {
    margin-left: 25%;
  }
}

#index {
  padding: 0;
}

.big-button {
  padding: 1rem;
  color: #f4f4f4;
  border: 1px solid;
  border-color: teal;
}

.big-button:hover {
  text-decoration: none;
  color: #f4f4f4;  
  background-color: teal;
}
